{% include 'parentheader.html' %}
<br>

<br><br>
<h2 align="center"><u>View call list</u></h2>
<form method="post">
<table  style="width: 200px" align="center" class="table">
	<tr>
		<td><font color="black">Child</font></td>
		<td><font color="black"><select name="childs">
			<option selected>Select</option>
			{% for row in data['childdetails'] %}
				<option value="{{ row['child_id'] }}">{{ row['name'] }}</option>
			{% endfor %}
		</select></font></td>
	</tr>
	<tr>
		<td align="center" colspan="2"><input type="submit" name="submit" class="btn btn-primary btn-lg"></td>
		
	</tr>
	<table  style="width: 1000px" align="center" class="table">
		
		<tr>
			<th><font color="black">Child Name</font></th>
			<th><font color="black">Number</font></th>
			<th><font color="black">Type</font></th>
			<th><font color="black">Duration</font></th>
			<th><font color="black">Date</font></th>
			<th><font color="black">Time</font></th>
		</tr>
		<tbody>
		{% for row in data['call'] %}
			<tr>
				<td><font color="black">{{row['name']}}</font></td>
				<td><font color="black">{{row['number']}}</font></td>
				<td><font color="black">{{row['type']}}</font></td>
				<td><font color="black">{{row['duration']}}</font></td>
				<td><font color="black">{{row['date']}}</font></td>
				<td><font color="black">{{row['time']}}</font></td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</table>
</form>

<br><br>
{% include 'footer.html' %}